---
layout: layouts/home.njk
permalink: /weeknotes/
eleventyNavigation:
  key: Weeknotes
  order: 3
---

<h1>Weeknotes</h1>

I've never been good a keeping a regular blog. Weeknotes seem like a good medium for me to get my thoughts down and keep track of what I've been working on and what has been going on lately with me. It's more of a record of my life for me as I tend to forget more than I remember.

{% set weeknoteslist = collections.weeknotes %}
{% include "weeknoteslist.njk" %}
